<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uyoung.core.api.dao.ActivityInfoDao">
    <resultMap id="BaseResultMap" type="com.uyoung.core.api.model.ActivityInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="ori_user_id" property="oriUserId" jdbcType="INTEGER"/>
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="need_num" property="needNum" jdbcType="INTEGER"/>
        <result column="real_num" property="realNum" jdbcType="INTEGER"/>
        <result column="activity_type" property="activityType" jdbcType="TINYINT"/>
        <result column="fee_type" property="feeType" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, ori_user_id, begin_time, end_time, address, need_num, real_num, activity_type,
        fee_type, description, `status`, create_time, update_time
    </sql>

    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_activity_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM tb_activity_info
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.uyoung.core.api.model.ActivityInfo">
        insert into tb_activity_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="oriUserId != null">
                ori_user_id,
            </if>
            <if test="beginTime != null">
                begin_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="needNum != null">
                need_num,
            </if>
            <if test="realNum != null">
                real_num,
            </if>
            <if test="activityType != null">
                activity_type,
            </if>
            <if test="feeType != null">
                fee_type,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="status != null">
                status,
            </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="oriUserId != null">
                #{oriUserId,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null">
                #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="needNum != null">
                #{needNum,jdbcType=INTEGER},
            </if>
            <if test="realNum != null">
                #{realNum,jdbcType=INTEGER},
            </if>
            <if test="activityType != null">
                #{activityType,jdbcType=TINYINT},
            </if>
            <if test="feeType != null">
                #{feeType,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            now(),now()
        </trim>
    </insert>
    <update id="updateById" parameterType="com.uyoung.core.api.model.ActivityInfo">
        update tb_activity_info
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="oriUserId != null">
                ori_user_id = #{oriUserId,jdbcType=INTEGER},
            </if>
            <if test="beginTime != null">
                begin_time = #{beginTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="needNum != null">
                need_num = #{needNum,jdbcType=INTEGER},
            </if>
            <if test="realNum != null">
                real_num = #{realNum,jdbcType=INTEGER},
            </if>
            <if test="activityType != null">
                activity_type = #{activityType,jdbcType=TINYINT},
            </if>
            <if test="feeType != null">
                fee_type = #{feeType,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getPageByStatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_activity_info
        where status = #{status,jdbcType=TINYINT}
        <if test="oriUid != null">
            and ori_user_id = #{oriUserId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>