<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uyoung.core.api.dao.AlbumInfoDao">
    <resultMap id="BaseResultMap" type="com.uyoung.core.api.model.AlbumInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER"/>
        <result column="album_name" property="albumName" jdbcType="VARCHAR"/>
        <result column="album_url" property="albumUrl" jdbcType="VARCHAR"/>
        <result column="first_photo_url" property="firstPhotoUrl" jdbcType="VARCHAR"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="total_like_count" property="totalLikeCount" jdbcType="INTEGER"/>
        <result column="total_photo_count" property="totalPhotoCount" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, create_user_id, album_name, album_url, first_photo_url, activity_id, total_like_count, total_photo_count, create_time, update_time
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_album_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getPageByCreateUserId" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from tb_album_info
        where create_user_id = #{cuid,jdbcType=INTEGER}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM tb_album_info
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.uyoung.core.api.model.AlbumInfo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert ignore into tb_album_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="albumName != null">
                album_name,
            </if>
            <if test="albumUrl != null">
                album_url,
            </if>
            <if test="firstPhotoUrl != null">
                first_photo_url,
            </if>
            <if test="activityId != null">
                activity_id,
            </if>
            <if test="totalLikeCount != null">
                total_like_count,
            </if>
            <if test="totalPhotoCount != null">
                total_photo_count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="albumName != null">
                #{albumName,jdbcType=VARCHAR},
            </if>
            <if test="albumUrl != null">
                #{albumUrl,jdbcType=VARCHAR},
            </if>
            <if test="firstPhotoUrl != null">
                #{firstPhotoUrl,jdbcType=VARCHAR},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=INTEGER},
            </if>
            <if test="totalLikeCount != null">
                #{totalLikeCount,jdbcType=INTEGER},
            </if>
            <if test="totalPhotoCount != null">
                #{totalPhotoCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateById" parameterType="com.uyoung.core.api.model.AlbumInfo">
        update tb_album_info
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createUserId != null">
                create_user_id = #{createUserId,jdbcType=INTEGER},
            </if>
            <if test="albumName != null">
                album_name = #{albumName,jdbcType=VARCHAR},
            </if>
            <if test="albumUrl != null">
                album_url = #{albumUrl,jdbcType=VARCHAR},
            </if>
            <if test="firstPhotoUrl != null">
                first_photo_url = #{firstPhotoUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>

            <if test="activityId != null">
                activity_id = #{activityId,jdbcType=INTEGER},
            </if>
            <if test="totalLikeCount != null">
                total_like_count = #{totalLikeCount,jdbcType=INTEGER},
            </if>
            <if test="totalPhotoCount != null">
                total_photo_count = #{totalPhotoCount,jdbcType=INTEGER},
            </if>
            update_time = now(),
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="incLikeCount" parameterType="java.lang.Integer">
        UPDATE tb_album_info
        SET total_like_count = total_like_count + 1
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <update id="decLikeCount" parameterType="java.lang.Integer">
        UPDATE tb_album_info
        SET total_like_count = total_like_count - 1
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>