<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uyoung.core.api.dao.ClientVersionDao">
    <resultMap id="BaseResultMap" type="com.uyoung.core.api.model.ClientVersion">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="client_type" property="clientType" jdbcType="TINYINT"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="is_update" property="isUpdate" jdbcType="TINYINT"/>
        <result column="update_content" property="updateContent" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, version, status, client_type, is_update,update_content,create_time, update_time
    </sql>
    <sql id="Table_Name">
        tb_client_version
    </sql>
    <select id="getByVersion" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        where version = #{version,jdbcType=VARCHAR}
    </select>
    <select id="getLastVersion" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        where client_type = #{clientType,jdbcType=TINYINT} and status = 1
        order by version desc limit 1;
    </select>
    <insert id="insert" parameterType="com.uyoung.core.api.model.ClientVersion">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into
        <include refid="Table_Name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="clientType != null">
                client_type,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="updateContent != null">
                update_content,
            </if>
            <if test="isUpdate != null">
                is_update,
            </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="clientType != null">
                #{clientType,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="updateContent != null">
                #{updateContent,jdbcType=VARCHAR},
            </if>
            <if test="isUpdate != null">
                #{isUpdate,jdbcType=TINYINT},
            </if>
            now(),now()
        </trim>
    </insert>
</mapper>