<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uyoung.core.api.dao.DictCityDao">
    <resultMap id="BaseResultMap" type="com.uyoung.core.api.model.DictCity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cn_name" property="cnName" jdbcType="VARCHAR"/>
        <result column="en_name" property="enName" jdbcType="VARCHAR"/>
        <result column="lon" property="lon" jdbcType="VARCHAR"/>
        <result column="lat" property="lat" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, cn_name, en_name, lon, lat, pid, create_time, update_time
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_dict_city
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getByCnName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tb_dict_city
        where cn_name = #{cnName,jdbcType=VARCHAR}
    </select>
    <select id="getListByIds" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from tb_dict_city
        where id in
        <foreach collection="ids" index="index" item="cityId" open="(" close=")" separator=",">
            #{cityId,jdbcType=INTEGER}
        </foreach>
        or pid in
        <foreach collection="ids" index="index" item="cityId" open="(" close=")" separator=",">
            #{cityId,jdbcType=INTEGER}
        </foreach>
    </select>
    <update id="updateByCnName" parameterType="com.uyoung.core.api.model.DictCity">
        update tb_dict_city
        <set>
            <if test="enName != null">
                en_name = #{enName,jdbcType=VARCHAR},
            </if>
            <if test="lon != null">
                lon = #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                lat = #{lat,jdbcType=VARCHAR},
            </if>
        </set>
        where cn_name =#{cnName,jdbcType=VARCHAR}
    </update>
    <insert id="insert" parameterType="com.uyoung.core.api.model.DictCity">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into tb_dict_city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cnName != null">
                cn_name,
            </if>
            <if test="enName != null">
                en_name,
            </if>
            <if test="lon != null">
                lon,
            </if>
            <if test="lat != null">
                lat,
            </if>
            <if test="pid != null">
                pid,
            </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cnName != null">
                #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="enName != null">
                #{enName,jdbcType=VARCHAR},
            </if>
            <if test="lon != null">
                #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat != null">
                #{lat,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=INTEGER},
            </if>
            now(),now()
        </trim>
    </insert>
</mapper>