<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uyoung.core.api.dao.PhotoLikeDao">
    <resultMap id="BaseResultMap" type="com.uyoung.core.api.model.PhotoLike">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="photo_id" property="photoId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, photo_id, user_id, create_time, update_time
    </sql>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_photo_like
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM tb_photo_like
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.uyoung.core.api.model.PhotoLike">
        insert into tb_photo_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="photoId != null">
                photo_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            create_time,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="photoId != null">
                #{photoId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            now(),now()
        </trim>
    </insert>
    <delete id="deleteByUidPhotoId" parameterType="java.util.Map">
        DELETE FROM tb_photo_like
        WHERE user_id = #{userId,jdbcType=INTEGER} AND photo_id = #{photoId,jdbcType=INTEGER}
    </delete>
</mapper>