<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mybatis/ActivityInfoMapper.xml"/>
        <mapper resource="mybatis/ActivitySignUpMapper.xml"/>
        <mapper resource="mybatis/AlbumInfoMapper.xml"/>
        <mapper resource="mybatis/MobileInfoMapper.xml"/>
        <mapper resource="mybatis/PhotoInfoMapper.xml"/>
        <mapper resource="mybatis/PhotoLikeMapper.xml"/>
        <mapper resource="mybatis/UserInfoMapper.xml"/>
    </mappers>
</configuration>